# Copyright (c) Microsoft Corporation and others. Licensed under the MIT license.
# SPDX-License-Identifier: MIT

version: "3.8"
services:
  web:
    build:
      context: ./website
      dockerfile: DevDockerfile
    ports:
      - "3000:3000"
    stdin_open: true
  service:
    build:
      context: ./service
      dockerfile: DevDockerfile
    ports:
      - "4000:4000"
      - "9230:9229"
    env_file: .env
    entrypoint:
      - "node"
      - "--inspect=0.0.0.0:9229"
      - "./bin/www"
    volumes:
      - ./harvested_data:/tmp/harvested_data
    links:
      - clearlydefined_mongo_db
      - crawler
  crawler:
    build:
      context: ./crawler
      dockerfile: DevDockerfile
    env_file: .env
    volumes:
      - ./harvested_data:/tmp/harvested_data
    ports:
      - "5000:5000"
      - "9229:9229"
    entrypoint:
      - "node"
      - "--inspect=0.0.0.0:9229"
      - "./index.js"
  clearlydefined_mongo_db:
    image: "mongo:latest"
    ports:
      - "27017:27017"
  clearlydefined_mongo_seed:
    image: "clearlydefined/docker_dev_env_experiment_clearlydefined_mongo_seed"
    links:
      - clearlydefined_mongo_db
